@model IEnumerable<Movie>
@{
    ViewData["Title"] = "HorrorMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        background-image: url('https://images.unsplash.com/photo-1526547462705-121430d02c2c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvcnJvcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        color: white;
    }

    h3 {
        color: white;
    }

    img {
        border: 2px solid white;
        box-shadow: 5px 5px 20px grey;
    }
</style>


<h1>Horror Movies</h1>
<hr />
@if (Model.Count() > 0)
{

    <div class="row">
        @foreach (var movie in Model)
        {
            @if (User.Identity.IsAuthenticated)
            {
                <div class="item m-4">
                    <a asp-action="Detail" asp-route-id="@movie.Id">
                        @{
                            var base64 = Convert.ToBase64String(movie.Banner);
                            var imgsrc = string.Format("data:image/jpg; base64,{0}", base64);
                        }
                        <img src="@imgsrc" width="200px" height="260px" title=@movie.Name />
                    </a>
                </div>
            }
            else
            {
                <div class="item m-4">
                    <a asp-action="Login" asp-controller="Account" asp-area="Identity">
                        @{
                            var base64 = Convert.ToBase64String(movie.Banner);
                            var imgsrc = string.Format("data:image/jpg; base64,{0}", base64);
                        }
                        <img src="@imgsrc" width="200px" height="260px" title=@movie.Name />
                    </a>
                </div>
            }


        }
    </div>
}
else
{
    <h3>No Movies Available In This Category</h3>
}

